<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/happy.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/happy.png" class="portrait">
            <p>
                This site was created by Alex Trainham with express, request, and the darksky.net/mapbox.com APIs
            </p>
        </div>
        {{>footer}}
    </body>
</html>